.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(211, 209, 209);
    box-shadow: 5px 5px 5px rgb(225, 229, 230);
}

.app-logo{
    img{
        width:30%;
    }
    
}

.nav-container{
    padding:10px;
}

.nav-container > ul{
    display: flex;
    padding: 5px;
    font-size:18px;
    list-style-type: none;

    li{
    padding: 10px;
    color:#800000;
    }

}
.rest-lists{
display: flex;
margin:5px;
/* justify-content: space-between; */
display: flex;
flex-wrap: wrap;

}
.rest-cards{
    width:200px;
    /* height;:30%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 5px 5px 5px  #efefef;
    padding: 5px;
    color: #800000;
    margin:10px;
}
.rest-cards:hover{
    border: 0.5px solid #800000;
    cursor: pointer;
}

.rest-logo{

    height:200px;
    width:200px;
    img{
        width: 100% !important;
        height:100% !important;
    }
}
.margin-bottom{
    margin-bottom:0px;
}
.btn{
    margin:10px;
    cursor: pointer !important;
    display: flex;
    
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin:10px;
    background-color: #f0f0f0;
    width:200px;
    height:400px;
}

.login-btn{
    padding: 0px 20px;
    color:white;
    background-color: #800000;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.search-section{
    margin-right:10px;
    
    
}
.btn-ui{
    background-color: white;
    border: none;
    color: #800000;
    border:1px solid #800000;
    font-size: 14px;
    padding:10px;
    cursor: pointer;
}
.search-input{
    padding: 10px;
    margin-right:3px;
    
}
.btn-ui:hover{
    background-color: #800000;
    color: #f0f0f0;
}
